
@import "../../style/var-globals.scss";
$container: 100%;


.container-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $container;
}
.body-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.container-body-home {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page {
    width: 50%;
    margin-left: 25px;
}

.txt-name-cv {
    font-size: $font-size-title;
    color: $color-font-b-hover;
    font-weight: 500;
    letter-spacing: 0.5rem;
    filter: drop-shadow(3px 3px 2px $color-hover);
    transition-duration: 0.7s;
    text-align: center;
}


.lineaCenter {
    display: flex;
    justify-content: center;
}
.linea {
    height: 1px;
    width: $width-linea;
    background-color: $color-font-b;
}

.txt-cv {
    color: $color-font-b;
    font-weight: 400;
    text-align: center;
    // margin-top: 50px;
    letter-spacing: 0.9rem;
}

// TXT descripcion
.txt {
    display: flex;
    justify-content: center;
}
.txt p {
    color: $color-font-b;
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
}
.txt p:hover {
    color: $color-font-b-hover;
}

// ESTILO BTN DESCARGA CV
.container-btns {
    display: flex;
    justify-content: space-evenly;
    
}
.containter-btn {
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px $color-hover solid;
    transition-duration: 1.5s;
}
.containter-btn:hover {
    background-color: $background-color;
}

// IMG
.container-img {
    width: 25%;
}
.img-cv {
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 2px $background-white);
}




// Media Querys
@media (max-width: 1281px) {
    .container-body-home {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 300px;
        width: 100%;
        padding-left: 15%;
    }
    .page {
        width: 70%;
    }
    .txt p {
        width: 100%;
        font-weight: 1.2rem;
    }
    .container-btns {
        margin-top: 30px;
    }
}