@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

$font-size-title: 3rem;
$width-linea: 600px;
// $color_hover_principal:#f4d879;
$color-hover: #7394ae;
// BLACK
$background-black: #0f0f0f;
$background-black-secondary: #000000;
$background-color: #051a2a;
$color-font-b: #e9e6dd;
$color-font-b-hover: #ccc9c0;
// WHITE
$background-white: #e9e6dd;
$color-font-w: $background-black;