@import "./style/var-globals.scss";

body {
    background: $background-black;
    background: radial-gradient(circle, $background-black 40%, $background-color 100%);
    color: $color-font-b;
    font-family: 'Roboto Mono', monospace;
}