@import "../../style/var-globals.scss";
$container: 100%;

.menu {
    background-color: $background-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $container;
    position: absolute;
    z-index: 9;
    top: 0;
    position: fixed;
}

.menu-close {
    width: $container - 95%;
}

.menu-open {
    width: $container - 85%;
}

.lineas {
    margin-top: 30px;
    cursor: pointer;
    border: solid 1px $background-color;
    border-radius: 5px;
    background-color: $background-color;
    padding: 1.5vh;
}

.linea-dos {
    height: 0.5px;
    width: $width-linea - 565px;
    background-color: $color-font-b;
}

.abajo-una {
    margin-top: 8px;
}

.abajo-dos {
    margin-top: 9px;
}

// iconos menu
.icons-menu {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icons {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-close {
    display: none;
}

.icons-open {
    display: inline;
}
.icons-menu-2 {
    color: $color-font-b;
    transition-duration: 0.7s;
}
.icons-menu-2:hover {
    color: $color-hover;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
}

// Media Querys

@media (max-width: 1281px) {
    .menu-close {
        width: 15%;
    }
    .menu-open {
        width: 45%;
    }
    .icons-menu {
        height: 85%;
    }
}